.features {
  width: 105.6rem;
  height: 57.5rem;
  @include flexCenter();
  justify-content: space-between;
  &__images {
    width: 48.5rem;
    height: 57.5rem;
    position: relative;

    &-1 {
      top: 0;
      left: 0;
      z-index: 999;
      width: 52.9rem;
      height: 100%;
      border-radius: 1.6rem;
    }
  }
  &__body {
    width: 43.5rem;
    @include flexCenter();
    flex-direction: column;
  }
  &__list {
    width: 100%;
    list-style: none;
    @include flexCenter();
    flex-direction: column;
    margin-top: 2.7rem;
  }
  &__item {
    @include flexCenter();
    width: 100%;
    margin-top: 1.6rem;
  }
  &__icon-wrapper {
    background-color: $icon-background;
    width: 6rem;
    height: 6rem;
    border-radius: 10rem;
    @include flexCenter();
    justify-content: center;
  }
  &__icon {
    width: 2.4rem;
    background-position: center;
  }
  &__text {
    width: 31.2rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-left: 2rem;
    color: $color-2;
    text-align-last: justify;
  }
}
.heading-2 {
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 5.2rem;
  width: 43.5rem;
}
.subheadings {
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.8rem;
}
