$font-1: 'Golos', sans-serif;
$font-2: 'Manrope', sans-serif;
$color-1: #1d222b;
$btn-login-background: #e2e9f3;
$color-2: #5f6773;
$btn-primary-background: #01b48a;
$btn-primary-color: #fff;
$icon-background: #f0f4f9;
$card-background: #fff;
$card-border: #e4e9ed;
$card-color-date: #8a9099;
$color-subscribe: #38598a;

$body-background: #e5e5e5;
$white-background: #fff;
